.Toolbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.Toolbar li{
    float: left;
}

.Toolbar label{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

.Toolbar input{
    display: block;
    text-align: center;
    padding: 14px 14px;


}
.Toolbar label:hover{
    background-color: #111;
}

.active{
    background-color:#4CAF50;
}